<div    class="dashboard-social-header padding-20 padding-top-100 overlay-gradient-30" 
        layout="row" 
        layout-align="start center" 
        style="background: url(assets/images/backgrounds/clavo/default.png) no-repeat; background-size: cover;">

    <div class="margin-right-20 margin-bottom-50">
        <img src="assets/images/backgrounds/clavo/store_logo.png" alt="girl-avatar" class="make-round" width="100"/>
    </div>

    <div class="text-light">
        <h2 class="font-weight-600 margin-bottom-0 text-light">Carvers</h2>

        <p class="font-weight-300 margin-top-0 margin-bottom-0">
            Our refreshing, thick and creamy Smoothies are blended with real fruit, natural juices and our optional Smoothie CHARGERS. Maintain Health, Trim Down, Boost Energy, Replace a Meal, Bulk Up, or try our Kids Menu. Each Recharge Smoothie is made fresh to order. 
            <br>
        </p>

        <p style="bottom:0; top:80px;background: rgba(255,255,255,0.7);bottom: 0;text-align: left;margin-left: -140px;margin-right: -20px; margin-bottom:-20px;color:#fff;padding-left:140px;">
            <md-icon md-font-icon="zmdi zmdi-pin color-inherit"></md-icon> 
            4819 Emperor, Suite 4000 Blvd, Durham, NC, 27703. 
            <md-button md-no-ink class="md-accent" aria-label="flat button"> 
                CHANGE LOCATION
            </md-button> 
        </p>
     </div>
</div>

<md-tabs md-dynamic-height md-border-bottom class="md-white tabs-default padding-20" style="margin-top:0px;">
    <md-tab>
        <md-tab-label layout="column">
            <span> Menu </span>
        </md-tab-label>
        <md-tab-body>
            <div layout="row" layout-xs="column" layout-align="center top" class="margin-top-20">
                 <md-whiteframe flex="66" title="" contacts-widget content-layout="row" >
                    <div layout="row">
                    <ul flex="20" class="menu-toggle-list ">
                        <md-list class="margin-right-10">
                            <md-subheader class="md-button md-ink-ripple side-menu-link md-no-sticky margin-top-10 padding-0" style="color:#444">
                                    All Categories
                            </md-subheader>

                        </md-list>

                        <li ng-repeat="category in vm.categories" href="" style="color:grey;" class="margin-right-10">
                            <!-- <button class="md-button md-ink-ripple side-menu-link" ng-show="$first">    All Categories 
                            </button>   --> 

                            <button class="md-button md-ink-ripple side-menu-link">
                                {{category.name}} 
                            </button>             
                        </li>
                    </ul>

                    <tri-widget flex="80">
                    <md-list  class="margin-bottom-20">
                        <md-subheader class="md-no-sticky margin-top-10">Menu</md-subheader>

                        <md-list-item class="md-2-line" ng-repeat="item in vm.items">
                             <div class="md-list-item-text" style="width:100%">
                                <h3 layout="row" layout-align="end center" layout-wrap >{{item.name}} 
                                    <div layout="row" layout-align="start center" flex>
                                        <span flex></span>
                                        ${{item.price/100}} &nbsp;&nbsp;
                                        <md-icon md-font-icon="zmdi zmdi-plus-circle-o" layout-align="end end" class="md-primary" ng-click="vm.createDialog($event, item.id)">
                                        <md-tooltip md-direction="right">
                                            Add to cart
                                        </md-tooltip>
                                        </md-icon>
                                    </div>
                                </h3>
                                <p>{{item.vzCustomData.description}}</p>
                             </div>
                            <md-divider ng-hide="$last"></md-divider>
                        </md-list-item>
                    </md-list>
                </tri-widget>
                    </div>
                </md-whiteframe>
                <span flex></span>

                <tri-widget flex="30" title="" contacts-widget content-layout="column">
                    <md-list >
                        <md-subheader class="md-no-sticky margin-top-10">Cart</md-subheader>
                    </md-list>

                    <md-input-container class="md-block margin-top-10 padding-left-20">
                        <label class="padding-left-20">Order Type</label> <br>
                        <md-radio-group ng-model="numCakes" ng-init="numCakes = 1" layout="row">
                          <md-radio-button value="1" class="md-primary">Delivery</md-radio-button>
                          <md-radio-button value="2" class="md-primary"> Pickup </md-radio-button>
                        </md-radio-group>
                    </md-input-container>

                    <md-divider></md-divider>

                     <md-list>
                        <md-list-item class="" ng-repeat="cartItem in vm.cartItems">
                            <div class="margin-top-10" layout="row" flex="100" ng-mouseover="hover=true" ng-mouseleave="hover=false">

                                    <span flex="15"> 
                                        <md-icon md-font-icon="zmdi zmdi-edit material-icon" layout-align="end end" class="" ng-click="vm.createDialog($event, cartItem.id)" ng-show="hover">
                                        <md-tooltip md-direction="left">
                                        Edit Item
                                        </md-tooltip> 
                                        </md-icon> 
                                        <span ng-show="!hover">2</span>
                                    </span>

                                    <span flex="85">
                                        
                                        <span layout="row" class="md-body--1">
                                            <span flex="85" >{{cartItem.name}} </span>
                                            <span flex>$ {{cartItem.price / 100}}</span>
                                        </span>
                                        <span layout="row" class="md-body-1">
                                            <span flex="85">Grated Parmesan Cheese</span>
                                            <span flex>$ {{250 / 100}}</span>
                                        </span>
                                        <span layout="row" class="md-body-1">
                                            <span flex="85">Pepperoni</span>
                                            <span flex>$ {{75 / 100}}</span>
                                        </span>
                                        
                                    </span>

                            </div>
                        </md-list-item>
                    </md-list>
                    
                    <br>

                    <md-divider></md-divider>
                    <br>
                    <span layout="row" layout-align="end end" class="margin-right-10">Total : $ 45.00</span>

                </tri-widget>
                <span flex></span>
            </div>
        </md-tab-body>
    </md-tab>
    <md-tab>
        <md-tab-label layout="column">
            <span>Info</span>
        </md-tab-label>
        <md-tab-body>
            <div layout="row" layout-xs="column" layout-margin>
                <tri-widget class="widget-follower" flex content-layout="column" content-layout-align="center start">
                    <div class="widget-follower-header">
                        <img src="assets/images/backgrounds/material-backgrounds/mb-bg-26.jpg" alt="some bg" class="display-block">
                        <img src="assets/images/avatars/avatar-2.png" class="widget-follower-header-avatar"/>
                    </div>
                    <div class="widget-follower-text padding-10">
                        <h4 class="md-title margin-0">Morris Onions</h4>
                        <p class="md-caption margin-0">@morris</p>
                        <p class="md-body-1">Senior Software Test Engineer at Progressive, Indie Game Developer, Cleveland Game Devs member, a cyberpunk before it was cool & a geek Dad.</p>
                    </div>
                </tri-widget>
                <tri-widget class="widget-follower" flex content-layout="column" content-layout-align="center start">
                    <div class="widget-follower-header">
                        <img src="assets/images/backgrounds/material-backgrounds/mb-bg-12.jpg" alt="some bg" class="display-block">
                        <img src="assets/images/avatars/avatar-6.png" class="widget-follower-header-avatar"/>
                    </div>
                    <div class="widget-follower-text padding-10">
                        <h4 class="md-title margin-0">Sam Cook</h4>
                        <p class="md-caption margin-0">@scook</p>
                        <p class="md-body-1">Intermediary acquisition customer-facing return on investment customer-facing conscientious outsourcing incrementally increasing sales experienced and confident.</p>
                    </div>
                </tri-widget>
                <tri-widget class="widget-follower" flex content-layout="column" content-layout-align="center start">
                    <div class="widget-follower-header">
                        <img src="assets/images/backgrounds/material-backgrounds/mb-bg-30.jpg" alt="some bg" class="display-block">
                        <img src="assets/images/avatars/avatar-5.png" class="widget-follower-header-avatar"/>
                    </div>
                    <div class="widget-follower-text padding-10">
                        <h4 class="md-title margin-0">Manos proistakis</h4>
                        <p class="md-caption margin-0">@proistak</p>
                        <p class="md-body-1">Recruiting key personnel effective management and mentoring of the team acquiring new clients maximised returns in short time frame. </p>
                    </div>
                </tri-widget>
            </div>
            <div layout="row" layout-xs="column" layout-margin>
                <tri-widget class="widget-follower" flex content-layout="column" content-layout-align="center start">
                    <div class="widget-follower-header">
                        <img src="assets/images/backgrounds/material-backgrounds/mb-bg-40.jpg" alt="some bg" class="display-block">
                        <img src="assets/images/avatars/avatar-6.png" class="widget-follower-header-avatar"/>
                    </div>
                    <div class="widget-follower-text padding-10">
                        <h4 class="md-title margin-0">Jane Onions</h4>
                        <p class="md-caption margin-0">@morris</p>
                        <p class="md-body-1">Entrepreneurial, brand strategy key relationship management cross-functional; handling customer complaints. Preparing financial data going to the cinema dynamic self starter easy to work with. </p>
                    </div>
                </tri-widget>
                <tri-widget class="widget-follower" flex content-layout="column" content-layout-align="center start">
                    <div class="widget-follower-header">
                        <img src="assets/images/backgrounds/material-backgrounds/mb-bg-07.jpg" alt="some bg" class="display-block">
                        <img src="assets/images/avatars/avatar-4.png" class="widget-follower-header-avatar"/>
                    </div>
                    <div class="widget-follower-text padding-10">
                        <h4 class="md-title margin-0">Christine Jackson</h4>
                        <p class="md-caption margin-0">@scook</p>
                        <p class="md-body-1">Presenting to senior management streamlined operations outside the box. Incrementally increasing sales customer-centric, commercially minded increased revenue customer-facing.</p>
                    </div>
                </tri-widget>
                <tri-widget class="widget-follower" flex content-layout="column" content-layout-align="center start">
                    <div class="widget-follower-header">
                        <img src="assets/images/backgrounds/material-backgrounds/mb-bg-18.jpg" alt="some bg" class="display-block">
                        <img src="assets/images/avatars/avatar-1.png" class="widget-follower-header-avatar"/>
                    </div>
                    <div class="widget-follower-text padding-10">
                        <h4 class="md-title margin-0">John Langan</h4>
                        <p class="md-caption margin-0">@proistak</p>
                        <p class="md-body-1">Recruiting key personnel effective management and mentoring of the team acquiring new clients maximised returns in short time frame. </p>
                    </div>
                </tri-widget>
            </div>
        </md-tab-body>
    </md-tab>
    <md-tab>
        <md-tab-label layout="column">
            <span>Offers</span>
        </md-tab-label>
        <md-tab-body>
            <div layout="row" layout-xs="column" layout-margin>
                <tri-widget class="flex" flex="70" flex-xs="100" title="Favorites" content-layout="column" content-layout-align="start center">
                    <md-divider></md-divider>
                    <md-list>
                        <md-list-item class="md-2-line" ng-repeat="fave in ::vm.favorites">
                            <img ng-src="{{::fave.avatar}}" class="md-avatar"/>
                            <div class="md-list-item-text">
                                <div layout="row">
                                    <span flex class="md-subhead text-dark">
                                        {{::fave.name}}
                                        <span class="text-gray">@{{::fave.user}}</span>
                                    </span>
                                    <span class="md-caption" am-time-ago="fave.date"></span>
                                </div>
                                <p linkify="twitter">{{::fave.tweet}}</p>
                            </div>
                            <md-divider></md-divider>
                        </md-list-item>
                    </md-list>
                </tri-widget>
                <div flex layout="column">
                    <tri-widget flex class="margin-bottom-10" title="Who to follow" content-layout="column" content-layout-align="space-around" palette-background="triCyan:500">
                        <md-divider></md-divider>
                        <md-list >
                            <md-list-item class="md-2-line" ng-repeat="follow in ::vm.whotofollow">
                                <img ng-src="{{::follow.avatar}}" class="md-avatar"/>
                                <div class="md-list-item-text">
                                    <h3>{{::follow.name}}</h3>
                                    <h4>@{{::follow.user}}</h4>
                                    <md-icon md-font-icon="zmdi zmdi-account-add" ng-click="doSecondaryAction($event)" class="md-secondary md-hue-3"></md-icon>
                                </div>
                                <md-divider ng-hide="::$last"></md-divider>
                            </md-list-item>
                        </md-list>
                    </tri-widget>
                    <tri-widget flex title="Trends" content-layout="column" content-layout-align="center start" palette-background="triCyan:500">
                        <md-divider></md-divider>
                        <md-list>
                            <md-list-item ng-repeat="trend in ::vm.trends">
                                <p linkify="twitter">{{::trend}}</p>
                                <md-divider ng-hide="::$last"></md-divider>
                            </md-list-item>
                        </div>
                    </tri-widget>
                </div>
            </div>
        </md-tab-body>
    </md-tab>
</md-tabs>

