<md-dialog aria-label="Mango (Fruit)" flex="60" flex-xs="100">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>
                <span>{{vm.itemModifiers.name}} <small layout-alignment="end center"> $ {{vm.itemModifiers.price/100}}</small></span>
            </h2>
        </div>
    </md-toolbar>

    <md-divider></md-divider>

    <md-dialog-content class="md-dialog-content">
        <form name="taskForm" novalidate layout="column">

            <h3></h3>
            
            <div ng-repeat="modifiergroup in vm.itemModifiers.modifierGroups.elements">
                <md-subheader class="md-no-sticky">{{modifiergroup.name}}</md-subheader>

                <md-list-item ng-repeat="modifier in modifiergroup.modifiers.elements">
                    <md-checkbox ng-model="modifier.selected"></md-checkbox>
                    <p>{{modifier.name}}</p>
                </md-list-item>
            </div>
        </form>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <span flex></span>
        <md-button ng-click="vm.cancel()">Cancel</md-button>
        <md-button ng-click="vm.hide()" class="md-primary" ng-disabled="taskForm.$invalid">Ok</md-button>
    </md-dialog-actions>
</md-dialog>