<div flex layout="column" layout-margin>
            <div layout="row" layout-margin>
                <tri-widget flex="60" title="" contacts-widget content-layout="row">

                    <md-list flex>
                    <h2> &nbsp;&nbsp; Checkout</h2><md-divider></md-divider> <br>
                        <md-list-item class="md-3-line margin-top-10">
                             <div class="md-list-item-text" style="width:100%">
                                <h3 layout="row" layout-align="end center"  class="margin-bottom-10" layout-wrap > 

                                        <md-icon md-svg-icon="assets/images/icons/ic_close_black_24px.svg"></md-icon> Double Chicken 

                                     <div layout="row" layout-align="start center" flex>
                                         <span flex></span>
                                        3 Qty &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                         $07.00 &nbsp;&nbsp;
                                         <!-- <md-icon md-font-icon="zmdi zmdi-plus-circle-o" layout-align="end end" class="md-primary" ng-click="vm.openModifiers($event)"><md-tooltip md-direction="right">
                                     Add to cart
                                </md-tooltip></md-icon> -->
                                       
                                      </div>
                                </h3>
                                <p layout="row" layout-align="end center" layout-wrap >Hot Sauce  
                                    <span layout="row" layout-align="end center" flex>
                                        
                                         $00.50 &nbsp;&nbsp;
                                    </span>
                                </p>
                                <p layout="row" layout-align="end center" layout-wrap >Pepper 
                                    <span layout="row" layout-align="start center" flex>
                                         <span flex></span>
                                         $00.50  &nbsp;&nbsp;
                                    </span>
                                </p>
                                <p layout="row" layout-align="end center" layout-wrap >Cheese

                                    <span layout="row" layout-align="start center" flex>
                                         <span flex></span>
                                         $03.00 &nbsp;&nbsp;
                                    </span>
                                </p>
                                <p>{{item.vzCustomData.description}}</p>
                             </div>

                            
                            <md-divider ng-hide="$last"></md-divider>
                        </md-list-item> <md-list-item class="md-3-line margin-top-10">
                             <div class="md-list-item-text" style="width:100%">
                                <h3 layout="row" layout-align="end center"  class="margin-bottom-10" layout-wrap > <md-icon md-svg-icon="assets/images/icons/ic_close_black_24px.svg"></md-icon>Double Chicken 
                                     <div layout="row" layout-align="start center" flex>
                                         <span flex></span>
                                         3 Qty &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                         $07.00 &nbsp;&nbsp;
                                         <!-- <md-icon md-font-icon="zmdi zmdi-plus-circle-o" layout-align="end end" class="md-primary" ng-click="vm.openModifiers($event)"><md-tooltip md-direction="right">
                                     Add to cart
                                </md-tooltip></md-icon> -->
                                       
                                      </div>
                                </h3>
                                <p layout="row" layout-align="end center" layout-wrap >Hot Sauce  
                                    <span layout="row" layout-align="end center" flex>
                                        
                                         $00.50 &nbsp;&nbsp;
                                    </span>
                                </p>
                                <p layout="row" layout-align="end center" layout-wrap >Pepper 
                                    <span layout="row" layout-align="start center" flex>
                                         <span flex></span>
                                         $00.50  &nbsp;&nbsp;
                                    </span>
                                </p>
                                <p layout="row" layout-align="end center" layout-wrap >Cheese

                                    <span layout="row" layout-align="start center" flex>
                                         <span flex></span>
                                         $03.00 &nbsp;&nbsp;
                                    </span>
                                </p>
                                <p>{{item.vzCustomData.description}}</p>
                             </div>

                            
                            <md-divider ng-hide="$last"></md-divider>
                        </md-list-item>
                        <md-subheader  layout="row" layout-align="end center" layout-wrap class="md-no-sticky">Sub total : $14.50  &nbsp;&nbsp;</md-subheader>

                        <md-input-container flex="40" class="md-icon-float md-icon-right margin-left-20">
                          <label>Have a coupon</label>
                          <input ng-model="user.donation" type="text">
                          <md-icon md-svg-src="img/icons/ic_euro_24px.svg"></md-icon>
                          
                        </md-input-container>
                        <md-button flex="60" class="md-primary" aria-label="flat button">Offers </md-button>
                        </md-list>

                </tri-widget>
                <md-card flex>
                <h2>&nbsp;&nbsp;Order Details</h2><md-divider></md-divider>

                    <md-card-content>
                    <md-input-container class="md-block margin-top-0">
                    <label>Order Type</label> <br>
                        <!-- <md-select placeholder="Pick" ng-model="numCakes" ng-init="numCakes = 1">
                        <md-option value="1">Delivery</md-option>
                        <md-option value="2">Pickup</md-option>
                    </md-select> -->
                    <md-radio-group ng-model="numCakes" ng-init="numCakes = 1" layout="row">
                      <md-radio-button value="1" class="md-primary">Delivery</md-radio-button>
                      <md-radio-button value="2" class="md-primary"> Pickup </md-radio-button>
                    </md-radio-group>
                    </md-input-container>                    <md-divider></md-divider>

                    <H4>Estimated time for delivery 45 min. 
                    <md-switch class="md-primary" ng-model="switches.primary" aria-label="Primary Switch" ng-init="switches.primary = true">
                            Delivery for later
                        </md-switch>
                    </H4>


                    <md-input-container class="md-block margin-top-50">
                        <label>Additional Notes (max 140 characters)</label>
                        <textarea ng-model="tweet" md-maxlength="140"></textarea>
                        <p class="md-caption">If you want to add any special instructions for the store</p>
                    </md-input-container>
                   
                    </md-card-content>
                    <md-card-actions layout="coloumn" layout-align="end end">
                    
                    <md-button ng-class="md-primary" href="#/dashboards/server" aria-label="flat button">Checkout</md-button>
                    </md-card-actions>
                </md-card>
            </div>
            </div>
            <br>
            <br>

         </div>