<div layout="row" class="profile" layout-wrap>
    <div flex="100" flex-gt-md="100">
        <md-tabs md-dynamic-height md-border-bottom>
            <md-tab label="Profile">
                <md-content class="md-padding">
                    <form name="profile">
                        <md-input-container class="md-block">
                            <label for="firstName" translate>First name</label>
                            <input id="firstName" label="firstName" name="firstName" type="text" ng-model="firstName" required/>
                            <div ng-messages="profile.firstName.$error" md-auto-hide="false" ng-show="profile.firstName.$touched">
                                <div ng-message when="required"><span translate>Please enter your first name</span></div>
                            </div>
                        </md-input-container>
                        <md-input-container class="md-block">
                            <label for="lastName" translate>Last Name</label>
                            <input id="lastName" label="lastName" name="lastName" type="text" ng-model="lastName" required/>
                            <div ng-messages="profile.lastName.$error" md-auto-hide="false" ng-show="profile.lastName.$touched">
                                <div ng-message when="required"><span translate>Please enter your last name</span></div>
                            </div>
                        </md-input-container>
                        <md-input-container class="md-block">
                            <label for="email" translate>email</label>
                            <input id="email" label="email" name="email" type="email" ng-model="email" required/>
                            <div ng-messages="profile.email.$error" md-auto-hide="false" ng-show="profile.email.$touched">
                                <div ng-message when="required">
                                    <span translate>Please enter your email address</span>
                                </div>
                                <div ng-message when="email">
                                    <span translate>Please enter a valid email address</span>
                                </div>
                            </div>
                        </md-input-container>
                        <md-button class="md-raised md-primary margin-left-0" ng-disabled="profile.$invalid" translate="Update Profile"></md-button>
                    </form>
                </md-content>
            </md-tab>
            <md-tab label="Addresses">
                <md-content class="md-padding">
                    <md-grid-list md-cols-gt-md="4" md-cols-sm="2" md-cols-md="4" md-row-height="5:3" md-gutter-gt-md="16px" md-gutter-gt-sm="0px" md-gutter="0px">
                        <md-grid-tile ng-repeat="add in userAddress">
                            <md-card>
                                <md-card-actions layout="row" layout-align="end end" ng-if="add.isDefault">
                                    <span class="md-primary"><b>Default address</b></span>
                                </md-card-actions>

                                <md-card-content>
                                    <b>{{userName}}</b>
                                    <br/>{{add.address.address1}} {{add.address.address2}} {{add.address.city}} {{add.address.state}} {{add.address.zip}}
                                </md-card-content>

                                <md-card-actions layout="row" layout-align="end end" ng-if="!add.isDefault">
                                    <md-button class="md-primary" ng-click="setAddressAsDefault(add)">Set as default</md-button>
                                </md-card-actions>
                            </md-card>
                        </md-grid-tile>

                        <md-grid-tile>
                            <md-card>
                            <md-card-content layout="row" layout-align="center center">
                                <br>
                                <md-button class="md-primary" ng-click="vm.createDialog($event)">+ Add New Address</md-button>
                                <br>
                             <md-card-content>
                            </md-card>
                        </md-grid-tile>
                    </md-grid-list>
                </md-content>
            </md-tab>
            <md-tab label="Order History">
                <md-content class="md-padding">
                    <md-list>
                        <div ng-repeat="order in orders" ng-click="loadOrder(order.id)">
                            <md-card>
                                <md-subheader class="md-primary">Order Id: {{order.id}}</md-subheader>
                                <md-list-item ng-repeat="orderElement in order.lineItems.elements" layout="row" layout-align="space-between center" ng-if="orderElement.name != 'Delivery Fee'">
                                    <span>{{orderElement.name}}</span>
                                </md-list-item>
                            </md-card>
                        </div>
                    </md-list>
                </md-content>
            </md-tab>
        </md-tabs>
    </div>

</div>
