<h2>Online Payment</h2>
<md-content class="md-padding" flex="100">
                            <form name="billingForm" flex="100">
                                <div>
                                    <md-input-container class="md-block">
                                        <label translate>Credit card number</label>
                                        <input name="cardNumber" ng-model="wizardController.data.billing.number" required>
                                        <div ng-messages="billingForm.cardNumber.$error" md-auto-hide="false" ng-show="billingForm.cardNumber.$touched">
                                            <div ng-message when="required">
                                                <span translate>This field is required</span>
                                            </div>
                                        </div>
                                    </md-input-container>
                                    <md-input-container class="md-block">
                                        <label translate>Name on card</label>
                                        <input name="cardName" ng-model="wizardController.data.billing.name" required>
                                        <div ng-messages="billingForm.cardName.$error" md-auto-hide="false" ng-show="billingForm.cardName.$touched">
                                            <div ng-message when="required">
                                                <span translate>This field is required</span>
                                            </div>
                                        </div>
                                    </md-input-container>
                                </div>
                                <div layout layout-xs="column" flex>
                                    <md-input-container flex>
                                        <label translate>Expiry date (MM)</label>
                                        <input name="cardMonth" ng-model="wizardController.data.billing.cardMonth" ng-minlength="2" ng-maxlength="2" ng-pattern="/^(0?[1-9]|1[012])$/" required>
                                        <div ng-messages="billingForm.cardMonth.$error" md-auto-hide="false" ng-show="billingForm.cardMonth.$touched">
                                            <div ng-message when="required">
                                                <span translate>This field is required</span>
                                            </div>
                                            <div ng-message when="maxlength">
                                                <span translate>Month must be in the format MM</span>
                                            </div>
                                            <div ng-message when="minlength">
                                                <span translate>Month must be in the format MM</span>
                                            </div>
                                            <div ng-message when="pattern">
                                                <span translate>Month must be in the format MM</span>
                                            </div>
                                        </div>
                                    </md-input-container>
                                    <md-input-container flex>
                                        <label translate>Expiry date (YYYY)</label>
                                        <input name="cardYear" ng-model="wizardController.data.billing.cardYear" ng-minlength="4" ng-maxlength="4" ng-pattern="/^[0-9]+$/" required>
                                        <div ng-messages="billingForm.cardYear.$error" md-auto-hide="false" ng-show="billingForm.cardYear.$touched">
                                            <div ng-message when="required">
                                                <span translate>This field is required</span>
                                            </div>
                                            <div ng-message when="maxlength">
                                                <span translate>Year must be in the format YYYY</span>
                                            </div>
                                            <div ng-message when="minlength">
                                                <span translate>Year must be in the format YYYY</span>
                                            </div>
                                            <div ng-message when="pattern">
                                                <span translate>Year must be in the format YYYY</span>
                                            </div>
                                        </div>
                                    </md-input-container>
                                </div>

                                <div layout="coloumn" layout-align="end center">
                                     <md-button class="md-raised md-primary margin-left-0 margin-right-0 margin-top-10 margin-bottom-10" href="#/dashboards/social">Pay</md-button>
                                </div>
                            </form>
                        </md-content>

                         <br>
                         <br>