// Main

// Menu Container
.dashboard-container {
  .layout-margin {
    margin: 0px;
  }
  // until layout is fixed in material we need to add this
  // https://github.com/angular/material/issues/5014
  .layout-margin > .widget {
    margin: 8px;
  }
}

.merchant-main-branding{
  background: url(../assets/images/backgrounds/clavo/default.png) no-repeat; background-size: cover;
}

// - Checkout Container

// Social Dashboard
.tabs-tall {
  md-pagination-wrapper, md-tabs-canvas {
    height: 72px;
  }
}

// Selected Category 
.inactive-category{
  color: rgb(128,128,128);
}
.active-category{
  color: #444 !important;
  font-weight: 500;
}
